body{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo{
    margin-left: 530px;
}


#container {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: solid 0.5px black;
    background-color: white;
    box-shadow: 0 1px 8px 1px black;
}


.tela {
    width: 520px;
    height: 330px;
    border: solid black 1px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    position: relative;
}


#conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}


#campo1, #campo2, #campo3, #campo4, #campo5{
    border: solid 1px grey;
    width: 30px;
    height: 30px;
    background: #fff;
    margin-top: 150px;
}


input{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}


p{
    float: left;
    position: absolute;
    margin-top: 130px;
    margin-left: 190px;
}

.justica {
    box-sizing: border-box;
    text-align: center;
    background: #b9b7b7;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

div#cabecalho-teclado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    flex: 1;
}


.brasao {
    height: 40px;
    width: 40px;
}

.teclado {
    display: grid;
    grid-template-columns: 85px 85px 85px;
    justify-content: center;
    background: #443c3c;
    padding: 12px;
    gap: 12px;
}


.botao-branco {
    background-color: #fff;
    color: #000;
    font-size: 11px;
    width: 85px;
    height: 40px;
}

.botao-corrige {
    background-color: red;
    color: #000;
    font-size: 11px;
    width: 85px;
    height: 40px;
}

.botao-confirma {
    background-color: green;
    color: #000;
    font-size: 11px;
    width: 85px;
    height: 40px;
    text-align: center;
}

#nome
{
    font-size: 16px;
    margin-left: 10px;
}


.b1 {
    width: 85px;
    height: 40px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}


#bt0 {
    grid-column: 2 / span 2;
}

.b1:hover{
    background-color: #333131;
}

#foto{
    height: 160px;
    width: 180px;
    float: right;
    position: absolute;
}


#foto1{
    font-size: large;
    font-weight: bolder;
    margin: 20px 0 0 20px;
    background: #48c079;
    width: 130px;
}


#foto img{
    height: 160px;
    object-fit: cover; 
}


h2{
    font-size: 10px;
    float: right;
    position: absolute;
    margin-top: 100px;
}


#btVoltar{
    float: left;
    position: absolute;
    margin-top: 100px;
    background-color: #48c079;
    border: none;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
}

span.texto-final {
    font-size: 120px;
    width: 100%;
    display: block;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #6d6d6d;
}


@media (max-width: 900px) {
    #container {
        flex-direction: column;
    }

    .tela {
        width: 350px;
        height: 260px;
    }

    p {
        margin-left: 100px;
    }
} 